@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
body{
    font-family: "Dosis", sans-serif;
}

.hero{
    background: url("../IMAGES/hero1.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
